/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --poppinsFont: "Poppins", sans-serif;
    --interFont: "Inter", sans-serif;
    --darkBlue: #001F51;
    --darkRed: #D00000;
    --darkBrown: #940F14;
    --greyLight: #F3F3F3;
    --white: #FFFFFF;
    --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--poppinsFont);
  font-size: 18px;
  background-color: var(--white);
}
/* common elements  */
a {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 100px;
  font-weight: 300;
  line-height: 1;
  font-family: var(--interFont);
  color: var(--darkBlue);
}
h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
  font-family: var(--interFont);
  color: var(--darkBlue);

}
h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  color: black;
  font-family: var(--interFont);
  color: var(--darkBlue);
}
span {
  color: var(--darkRed);
  font-weight: 600;
}
/* common class */
.btn {
  background-color: var(--darkRed);
  color: white;
  transition: all 0.2s linear;
}
.btn:hover {
  background-color: var(--greyLight);
}
.commonPadding {
  padding: 103px 0;
}

/* navbar */
.navbar-toggler i {
  color: var(--darkBlue);
}
.nav-link {
  color: var(--darkBlue);
}
.nav-item {
  margin-right: 20px;
}
.active {
  color: var(--darkBrown)!important;
}
.nav-item .customBtn {
  background-color: var(--darkBlue);
  color: var(--white);
  padding: 15px;
  border-radius: 8px;
}

/* banner */
.banner {
  background-image: url('../images/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 58px 0;
}
.customCard p {
  max-width: 571px;
  width: 100%;
}
.customCard h1 {
  max-width: 630px;
  width: 100%;
}

.banner form {
  padding: 40px 18px;
}
.banner input,textarea {
  border-radius: 8px;
  padding: 12px 15px;
  outline: none;
  background: none;
  border: 1px solid #AFAFAF;
  width: 100%;
}
.banner input {
  margin-bottom: 20px;
}
.banner textarea {
  margin-bottom: 30px;
}
.banner .submit button {
  width: 100%;
  border: 1px solid transparent;
}
.banner .submit button:hover {
  border-color: var(--darkBrown);
}

/* about */
.aboutBtn .btn {
  background-color: var(--darkBlue);
  transition: all 0.2s linear;
}
.aboutBtn .btn:hover {
  background-color: var(--darkRed);
  color: white;
}

/* loan */
.loan {
  background-color: var(--greyLight);
}
.loan .sectionHead {
  max-width: 777px;
  width: 100%;
  margin: 0 auto;
}
.loan .customCard {
  padding: 15px;
}
.loan img {
  width: 100%;
}

/* footer */
footer {
  background-image: url('../images/footer-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--darkBlue);
  background-blend-mode: soft-light;
  padding: 53px 0;
}

@media screen and (max-width:575px) {
  footer .footLinks {
    flex-direction: column;
    gap: 10px;
  }
  footer .footLinks a {
    font-size: 14px;
    border: none;
    padding: 0;
  }
}